.header-wrapper {
  background-color: #b80027;
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center left -100px;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/banner-bg@2x.jpg");
  }
}
