.offer {
  width: 100%;

  z-index: 1;
}

.offer__list {
  @include reset-list;

  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  overflow: hidden;
}

.offer__list--active {
  display: flex;
}

.offer__item {
  @include transition;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 31%; //360px
  margin-bottom: 40px;
  padding: 49px 68px 60px;

  background-color: $main-color;

  border: 7px solid transparent;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:focus,
  &:hover {
    border: 7px solid;
    border-image-slice: 1;
    border-width: 7px;
    border-image-source: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  }

  h3 {
    margin: 0;
    margin-bottom: 5px;

    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
  }

  p {
    margin-top: 0;
  }
}

.offer__term {
  margin-bottom: 66px;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: $times-color;
}

.offer__price {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: baseline;
  margin-bottom: 28px;

  font-weight: bold;
  font-size: 60px;
  line-height: 90px;

  color: $prices-color;

  &::before {
    content: attr(data-price);

    position: absolute;
    left: 50%;
    bottom: 29px;
    transform: translateX(-50%);
    z-index: -1;

    font-weight: bold;
    font-size: 100px;

    color: $prices-shadow-color;
  }
}

.offer__unit {
  margin-left: 14px;
  font-family: $decorative-font;

  color: $text-color;
}

.offer__button {
  width: 208px;
  padding: 26px;

  color: $text-color;

  box-shadow: inset 0 0 0 2px $text-color;

  &:focus,
  &:hover {
    color: $main-color;
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);

    box-shadow: none;
    opacity: 1;
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width-only) {
  .offer__list {
    flex-direction: column;
    align-items: center;
  }

  .offer__item {
    width: 65.3%; //442px
    padding-top: 50px;
  }
}

@media (max-width: $mobile-width-only) {
  .offer__list {
    padding: 0 15px;
  }

  .offer__item {
    width: 100%;
    max-width: 442px;
    margin-bottom: 35px;
    padding: 44px 34px 47px;

    h3 {
      margin-bottom: 9px;

      font-size: 22px;
      line-height: 24px;
    }
  }

  .offer__term {
    margin-bottom: 56px;
  }

  .offer__price {
    margin-bottom: 24px;

    font-size: 48px;
    line-height: 72px;

    &::before {
      bottom: 24px;

      font-size: 80px;
    }
  }

  .offer__unit {
    margin-left: 9px;
  }

  .offer__button {
    width: 100%;
  }
}
