.page-wrapper {
  position: relative;

  overflow: hidden;
}

.page-wrapper--subscription {
  position: relative;
}

.page-wrapper--subscription::after {
  content: "";

  position: absolute;
  top: 507px;
  right: -183px;

  width: 470px;
  height: 494px;

  background-color: transparent;
  background-image: url("../img/barbell-discs.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/barbell-discs@2x.png");
    background-size: 470px 494px;
  }
}

@media (max-width: $tablet-width-only) {
  .page-wrapper--subscription::after {
    bottom: 175px;
    right: -123px;

    background-size: 423px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 423px auto;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .page-wrapper--subscription::after {
    content: none;
  }
}


