.subscription {
  position: relative;

  background-color: $bg-color;

  // &::after {
  //   content: "";

  //   position: absolute;
  //   bottom: -150px;
  //   right: -183px;

  //   width: 470px;
  //   height: 494px;

  //   background-color: transparent;
  //   background-image: url("../img/barbell-discs.png");
  //   background-repeat: no-repeat;
  //   background-position: 0 0;

  //   @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  //     background-image: url("../img/barbell-discs@2x.png");
  //     background-size: 470px 494px;
  //   }
  // }
}

.subscription__wrapper {
  @include wrapper;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 121px 0 80px;

  h2 {
    margin: 0;
    margin-bottom: 33px;

    font-family: $decorative-font;
    font-weight: bold;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }
}

.subscription__term-list {
  @include reset-list;

  position: relative;

  display: flex;
  margin-bottom: 51px;

  &::after {
    content: "";

    position: absolute;
    bottom: -13px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: rgba(120, 120, 120, 0.2);
  }
}

.subscription__term-item {
  margin-right: 47px;

  &:last-of-type {
    margin-right: 0;
  }
}

.subscription__term-button {
  @include transition;

  position: relative;

  padding: 0;

  font-family: $default-font;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: transparentize($text-color, 0.5);

  border: none;
  background-color: transparent;

  &--active,
  &:hover,
  &:focus {
    color: $text-color;

    &::after {
      content: "";

      position: absolute;
      bottom: -13px;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $tab-slider-color;
    }
  }
}

@media (max-width: $tablet-width-only) {
  // .subscription::after {
  //   bottom: -175px;
  //   right: -123px;

  //   background-size: 423px auto;

  //   @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  //     background-size: 423px auto;
  //   }
  // }

  .subscription__wrapper {
    padding: 101px 0 60px;

    h2 {
      margin-bottom: 27px;

      font-size: 42px;
      line-height: 42px;
    }
  }

  .subscription__term-list {
    margin-bottom: 58px;
  }

  .subscription__term-item {
    margin-right: 55px;
  }

  .subscription__term-button {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: $mobile-width-only) {
  // .subscription::after {
  //   content: none;
  // }

  .subscription__wrapper {
    padding: 70px 0 35px;

    h2 {
      margin-bottom: 21px;

      font-size: 32px;
      line-height: 32px;
    }
  }

  .subscription__term-list {
    margin-bottom: 48px;
  }

  .subscription__term-item {
    margin-right: 46px;
  }

  .subscription__term-button {
    font-size: 16px;
    line-height: 24px;
  }
}
