@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin transition {
  transition: all ease 0.2s;
}

@mixin wrapper {
  margin: 0 auto;
  max-width: 1260px;

  @media (max-width: $mobile-width-only) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@mixin title {
  margin-top: 0;

  font-family: $decorative-font;
  font-weight: bold;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width-only) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 32px;
    line-height: 32px;
  }
}
